# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

###### Objectives:

- Data Sceince Languages
- Commonly Used Data Sceince Libraries'
- Data Science Tools
- Evaluating Arithmetric Expressions

#### Some of the popular languages that Data Scientists use are:
1.Python

2.SQL.

3.R

#### Some of the commonly used libraries used by Data Scientists include:

1.Matplotlib

2.NumPy

3.Pandas

4.ggplot

| Data Sceince Tools|
 --------------------
| Apache Spark|
|SAS|
|MATLAB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

## Author

Peter Enning Junior